<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>
      New Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scan-page-content">
    <ion-card>
    <!-- <div class="new-application-info">
        <div>
            <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>

        <div>
            <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>

        <div>
            <ion-item>
                <ion-label position="floating">Social Security Number</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </div>
    </div> -->

    <div class="scan-buttons">
      <ion-button color="primary" shapre="round" (click)="takePicture()" [disabled]="submitting">
        <ion-icon name="camera" class="scan-button-icon"></ion-icon>

        Scan
      </ion-button>

      <ion-button [color]="primary" shapre="round" (click)="selectFile()" [disabled]="submitting">
        <ion-icon name="document" class="scan-button-icon"></ion-icon>

        File

        <input type="file" id="file-native">
      </ion-button>

      <ion-button [color]="scannedImages.length? 'success':'dark'" [disabled]="!scannedImages.length || submitting" shapre="round" (click)="submit()">
        <ion-icon name="send" class="scan-button-icon"></ion-icon>
        
        Submit
      </ion-button>
    </div>

    <div class="scanned-images">
      <div class="scanned-image" *ngFor="let image of scannedImages; let i = index">
        <img [(src)]="image.imageData">

        <div class="scanned-image-footer">
          <span class="title">
            Page {{ i + 1 }}
          </span>

          <ion-icon slot="icon-only" name="reverse-camera" class="scanned-image-action" (click)="removeImage(image)"></ion-icon>

          <ion-icon slot="icon-only" name="close-circle" class="scanned-image-action"
            (click)="removeImage(image)" color="danger">
          </ion-icon>
        </div>

        <ion-progress-bar type="indeterminate" *ngIf="submitting"></ion-progress-bar>
      </div>

      <span *ngIf="!scannedImages.length">
          No pages scanned yet
      </span>
    </div>
    </ion-card>

    <div class="validation-results" *ngIf="validationResults.length">

        <ion-card>
          <ion-card-header class="validation-results-header">
            <ion-card-title>Validation Results</ion-card-title>

            <div *ngIf ="isZipCode" style="color:red; font-size: 20px;"> As street address is entered, Zip code field is mandatory. </div>
            <div *ngIf ="isFirstName" style="color:red; font-size: 20px;">First name field is mandatory.</div>
            <div *ngIf ="isLastName" style="color:red; font-size: 20px;">Last name field is mandatory.</div>
            <div *ngIf ="isDob" style="color:red; font-size: 20px;">DOB field is mandatory.</div>
          </ion-card-header>
        
          <ion-card-content>
            <ul class="list">
              <ion-icon name="checkmark-circle" color="success" *ngIf="employerGroupName.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="employerGroupName.toLowerCase() === 'o'"></ion-icon>
              <label>Employer/ Group Name: {{employerGroupName}}</label><br>

              <ion-icon name="checkmark-circle" color="success" *ngIf="employerGroupCity.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="employerGroupCity.toLowerCase() === 'o'"></ion-icon>
              <label>Employer/ Group City: {{employerGroupCity}}</label><br>
              
              <ion-icon name="checkmark-circle" color="success" *ngIf="state.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="state.toLowerCase() === 'o'"></ion-icon>
              <label>State: {{state}}</label><br>
              
              <ion-icon name="checkmark-circle" color="success" *ngIf="qualifyingDate.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="qualifyingDate.toLowerCase() === 'o'"></ion-icon>
              <label>Qualifying Event Date: {{qualifyingDate}}</label><br>

              <ion-icon name="checkmark-circle" color="success" *ngIf="benifitEffDate.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="benifitEffDate.toLowerCase() === 'o'"></ion-icon>
              <label>Benifit Effective Date: {{benifitEffDate}}</label><br>

              <ion-icon name="checkmark-circle" color="success" *ngIf="lastname.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="lastname.toLowerCase() === 'o'"></ion-icon>
              <label>Last Name: {{lastname}}</label><br>

              <ion-icon name="checkmark-circle" color="success" *ngIf="firstname.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="firstname.toLowerCase() === 'o'"></ion-icon>
              <label>First Name: {{firstname}}</label><br>

              <ion-icon name="checkmark-circle" color="success" *ngIf="socialSecurityNo.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="socialSecurityNo.toLowerCase() === 'o'"></ion-icon>
              <label>Social Security Number: {{socialSecurityNo}}</label><br>

              <ion-icon name="checkmark-circle" color="success" *ngIf="dob.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="dob.toLowerCase() === 'o'"></ion-icon>
              <label>Date of Birth: {{dob}}</label><br>

              <ion-icon name="checkmark-circle" color="success" *ngIf="areaCode.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="areaCode.toLowerCase() === 'o'"></ion-icon>
              <label>Area Code: {{areaCode}}</label><br> 

              <ion-icon name="checkmark-circle" color="success" *ngIf="phoneNumber.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="phoneNumber.toLowerCase() === 'o'"></ion-icon>
              <label>Phone Number: {{phoneNumber}}</label><br>  


              <ion-icon name="checkmark-circle" color="success" *ngIf="streetAddress.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="streetAddress.toLowerCase() === 'o'"></ion-icon>
              <label>Street Address: {{streetAddress}}</label><br> 

              <ion-icon name="checkmark-circle" color="success" *ngIf="poBoxNumber.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="poBoxNumber.toLowerCase() === 'o'"></ion-icon>
              <label>Apt PO Box Number: {{poBoxNumber}}</label><br> 

              <ion-icon name="checkmark-circle" color="success" *ngIf="ciy.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="ciy.toLowerCase() === 'o'"></ion-icon>
              <label>City : {{ciy}}</label><br> 

              <ion-icon name="checkmark-circle" color="success" *ngIf="state.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="state.toLowerCase() === 'o'"></ion-icon>
              <label>State : {{state}}</label><br> 

              <ion-icon name="checkmark-circle" color="success" *ngIf="zipCode.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="zipCode.toLowerCase() === 'o'"></ion-icon>
              <label>Zip Code : {{zipCode}}</label><br> 

              <ion-icon name="checkmark-circle" color="success" *ngIf="countryParish.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="countryParish.toLowerCase() === 'o'"></ion-icon>
              <label>Country / Parish : {{countryParish}}</label><br> 

              <ion-icon name="checkmark-circle" color="success" *ngIf="emailAddress.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="emailAddress.toLowerCase() === 'o'"></ion-icon>
              <label>Email Address : {{emailAddress}}</label><br> 

              <ion-icon name="checkmark-circle" color="success" *ngIf="dateFullTimeHire.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="dateFullTimeHire.toLowerCase() === 'o'"></ion-icon>
              <label>Date of Full Time Hire : {{dateFullTimeHire}}</label><br>
              
              <ion-icon name="checkmark-circle" color="success" *ngIf="annualSalary.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="annualSalary.toLowerCase() === 'o'"></ion-icon>
              <label>Annual Salary : {{annualSalary}}</label><br>

              <ion-icon name="checkmark-circle" color="success" *ngIf="hoursPerWeek.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="hoursPerWeek.toLowerCase() === 'o'"></ion-icon>
              <label>Hours Worked per Week : {{hoursPerWeek}}</label><br>

              <ion-icon name="checkmark-circle" color="success" *ngIf="occupation.toLowerCase() !== 'o'"></ion-icon>
              <ion-icon name="close-circle" color="danger" *ngIf="occupation.toLowerCase() === 'o'"></ion-icon>
              <label>Occupation : {{occupation}}</label><br>
            </ul>
          </ion-card-content>
        </ion-card>
    </div>
  </div>
</ion-content>
